@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #8d96bd; }

.section-outer {
  border-bottom: 1px solid #d8e3fe; }

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px; }
  .section-inner--wide {
    max-width: 1200px; }

.btn {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  border: 0;
  border-radius: 2px;
  margin: 0;
  padding: 12px 16px;
  white-space: nowrap;
  background-color: none;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .btn--primary {
    background-color: #d2e1ff;
    color: #3a79ff; }
    .btn--primary:hover {
      background-color: #9fbfff; }
  .btn--danger {
    background-color: #d43f3f;
    color: #ffd7f7; }
    .btn--danger:hover {
      background-color: #ffbef2; }
  .btn--secondary {
    background-color: #4c85ff;
    color: #fff; }
    .btn--secondary:hover {
      background-color: #9fbfff; }
  .btn--no-bg {
    border: 1px solid #d1d1e4;
    color: #adb4d2; }
    .btn--no-bg:hover {
      background-color: #9fbfff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400; }

h1,
h2 {
  margin-bottom: 28px;
  font-size: 48px; }

h3 {
  margin-bottom: 28px;
  font-size: 36px; }

h4 {
  margin-bottom: 80px;
  font-size: 24px; }

h5 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  font-size: 10px;
  text-transform: uppercase; }

.ta-c {
  text-align: center; }

.dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; }
  .dots__item {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: #d1d6e3;
    border-radius: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .dots__item--active {
      background-color: #5283ff; }
    .dots__item + .dots__item {
      margin-left: 12px; }

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px; }

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  width: 24px;
  height: 24px;
  background-color: #5e81fe;
  border-radius: 100%; }

.nav {
  margin-left: 72px; }

.nav-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav-wrapper__item + .nav-wrapper__item {
    margin-left: 40px; }
  .nav-wrapper__item-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #697ca6;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .nav-wrapper__item-link:hover {
      color: #6188ff; }
    .nav-wrapper__item-link--active {
      font-weight: 700;
      color: #6188ff; }

.socials {
  margin-left: auto; }

.socials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none; }
  .socials-wrapper__item + .socials-wrapper__item {
    margin-left: 40px; }
  .socials-wrapper__item-link path {
    fill: #697ca6;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .socials-wrapper__item-link:hover path {
    fill: #6188ff; }

.btn-wrapper {
  margin-left: 44px; }

.section-hero-image {
  position: relative;
  background-color: #f4f7ff; }
  .section-hero-image .dots {
    position: absolute;
    bottom: 28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.slider-hero-image {
  padding: 0;
  margin: 0;
  list-style: none; }
  .slider-hero-image__item {
    height: 560px;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center; }
    .slider-hero-image__item-content h2 {
      font-weight: 100; }
    .slider-hero-image__item-content span {
      color: #3a79ff;
      font-weight: 500; }
    .slider-hero-image__item-content .text {
      margin: 0 auto 20px;
      width: 60%;
      line-height: 2; }

.icon-play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
          box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6); }
  .icon-play::before {
    display: block;
    width: 0;
    height: 0;
    content: "";
    margin-left: 16px;
    border-color: transparent;
    border-style: solid;
    border-width: 8px 12px;
    border-left-color: #5e81ff; }

.section-customers .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 60px; }
  .section-customers .section-inner a {
    opacity: .2;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .section-customers .section-inner a:hover {
      opacity: 1; }

.section-plan-and-manag {
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden; }
  .section-plan-and-manag__content {
    width: 50%; }
    .section-plan-and-manag__content .aside-image {
      position: absolute;
      top: 0;
      left: 50%; }
    .section-plan-and-manag__content h2 {
      font-weight: 100; }
    .section-plan-and-manag__content span {
      color: #3a79ff;
      font-weight: 500; }
    .section-plan-and-manag__content .text {
      line-height: 2;
      margin-bottom: 48px; }

.section-features {
  background-image: url(../images/clouds.svg);
  background-repeat: no-repeat; }
  .section-features h4 {
    font-weight: 500; }
  .section-features .btns {
    text-align: center; }

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  margin: 0 0 100px; }
  .features-list__item {
    position: relative;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
    .features-list__item:not(:first-child) {
      margin-left: 40px; }
    .features-list__item:not(:first-child)::before {
      position: absolute;
      top: 120px;
      left: -34px;
      width: 28px;
      height: 1px;
      content: '';
      background-color: #dac4fe; }
    .features-list__item-icon {
      width: 68px;
      height: 68px;
      margin: 0 auto 32px;
      border-radius: 100%;
      background-color: #f1f5ff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .features-list__item-title {
      font-weight: 700;
      font-size: 15px;
      color: #4074f8;
      margin-bottom: 28px; }
    .features-list__item-text {
      line-height: 2; }

.or-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin: 0 16px;
  font-weight: 500;
  line-height: 40px; }
  .or-block::before, .or-block::after {
    content: '';
    display: block;
    width: 16px;
    height: 1px;
    background-color: #dae4fe; }
  .or-block::before {
    margin-right: 16px; }
  .or-block::after {
    margin-left: 16px; }

.section-stats {
  background-color: #e9efff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section-stats__icon {
    margin-bottom: 24px; }
  .section-stats__number {
    font-size: 48px;
    font-family: 'Quicksand', sans-serif; }
  .section-stats__text {
    width: 40%;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2; }
  .section-stats__left, .section-stats__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 64px; }
  .section-stats__left {
    background-color: #6888ff;
    text-align: right;
    color: #fff;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .section-stats__right {
    color: #5e80ff; }

.section-blog {
  background-color: #f5faff; }

.slider-wrapper {
  margin-bottom: 100px;
  position: relative; }

.slider-blog {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #d8e3fe;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 50px #eff4ff;
          box-shadow: 0 15px 50px #eff4ff; }
  .slider-blog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 64px 32px; }
    .slider-blog__item-gallery, .slider-blog__item-content {
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%; }
    .slider-blog__item-gallery {
      display: grid;
      grid-template-rows: repeat(2, 120px);
      grid-template-columns: repeat(3, 120px);
      grid-gap: 12px; }
      .slider-blog__item-gallery .image-link {
        position: relative;
        display: block;
        border-radius: 5px;
        overflow: hidden;
        -webkit-box-shadow: 0 15px 100px #e5e8f8;
                box-shadow: 0 15px 100px #e5e8f8; }
        .slider-blog__item-gallery .image-link .loupe {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          display: block;
          width: 64px;
          height: 64px;
          border-radius: 100%;
          background: #fff url(../images/pngegg.png) no-repeat 50% 50%;
          -webkit-transition: 0.2s;
          transition: 0.2s; }
        .slider-blog__item-gallery .image-link:hover .loupe {
          opacity: 1; }
        .slider-blog__item-gallery .image-link img {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
             object-fit: contain; }
        .slider-blog__item-gallery .image-link::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: '';
          opacity: .5; }
        .slider-blog__item-gallery .image-link--b {
          grid-row: 1 / 3;
          grid-column: 1 / 3; }
          .slider-blog__item-gallery .image-link--b::before {
            background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ffc735));
            background: linear-gradient(transparent, #ffc735); }
        .slider-blog__item-gallery .image-link--s-1 {
          grid-row: 1 / 2;
          grid-column: 3 / 4; }
          .slider-blog__item-gallery .image-link--s-1::before {
            background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#5a1313));
            background: linear-gradient(transparent, #5a1313); }
        .slider-blog__item-gallery .image-link--s-2 {
          grid-row: 2 / 3;
          grid-column: 3 / 4; }
          .slider-blog__item-gallery .image-link--s-2::before {
            background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#35aaff));
            background: linear-gradient(transparent, #35aaff); }
    .slider-blog__item-content {
      margin-left: 10%; }
      .slider-blog__item-content .text {
        font-size: 15px;
        margin-bottom: 40px;
        line-height: 2; }

.btn-blog {
  position: absolute;
  display: block;
  top: 50%;
  width: 40px;
  height: 40px;
  background: url(../images/left.svg) no-repeat 50% 50%; }
  .btn-blog--prev {
    right: 100%;
    margin-right: 64px; }
  .btn-blog--next {
    left: 100%;
    margin-left: 64px;
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg); }

.section-quotes {
  background-color: #eaf0ff; }
  .section-quotes .section-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .section-quotes .section-inner h3 {
      font-weight: 500; }
  .section-quotes__left, .section-quotes__right {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%; }
  .section-quotes__left .text {
    line-height: 2; }

.slider-quotes {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 80px; }
  .slider-quotes__item {
    position: relative;
    padding: 40px 68px 60px;
    border: 1px solid #d8e3fe;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 50px #f3f5fa;
            box-shadow: 0 5px 50px #f3f5fa; }
    .slider-quotes__item-text {
      font-size: 15px;
      line-height: 2;
      color: #676f95; }
    .slider-quotes__item-photo {
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 60px;
      height: 60px;
      margin-top: -30px;
      border-radius: 100%;
      overflow: hidden;
      background-color: #fff; }

.section-faq h4 {
  font-weight: 500; }
.section-faq .faq-accordion {
  padding: 0;
  margin: 0;
  list-style: none; }
  .section-faq .faq-accordion__item {
    border-bottom: 1px solid #d8e3fe; }
    .section-faq .faq-accordion__item--active .arrow {
      stroke: #495274; }
    .section-faq .faq-accordion__item--active .section-faq .faq-accordion__item-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .section-faq .faq-accordion__item-trigger {
      padding: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer; }
      .section-faq .faq-accordion__item-trigger-icon {
        width: 16px;
        text-align: center;
        margin-right: 16px; }
        .section-faq .faq-accordion__item-trigger-icon .arrow {
          stroke: #8e96b7; }
      .section-faq .faq-accordion__item-trigger-text {
        font-size: 15px; }
    .section-faq .faq-accordion__item-content {
      display: none;
      padding: 0 16px 16px 48px; }
      .section-faq .faq-accordion__item-content-text {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        line-height: 2;
        font-size: 12px; }
      .section-faq .faq-accordion__item-content-btn {
        margin-left: 60px; }

.section-get-started {
  background-color: #6888ff; }

.section-newsletter {
  background-color: #fcfdff; }

.section-footer {
  border-bottom: 0; }
  .section-footer .section-inner {
    padding-top: 60px;
    padding-bottom: 60px; }
  .section-footer .copyright {
    font-family: 'Quicksand', sans-serif;
    margin-top: 28px;
    margin-left: 96px;
    font-size: 12px;
    font-weight: 500;
    color: #aeb8d0; }
